//* I am styles written by Carlos Mendez for use in th contact-directory project *//
/* ***************************************************** */
	/* Default Styles*/

body {
    // margin: 0;
    overflow: auto;
    // width: 100%;
}

/*  Flex box code that makes the sticky footer possible */
.content {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}