//* I am styles written by Carlos Mendez for use in th contact-directory project *//

footer {
    border-top: 1px solid #fff;
    &.page-footer {
        margin: 0;
        padding: 0;
    }
}
.copyright {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 200;
}