//* I am styles written by Carlos Mendez for use in th contact-directory project *//

/* ***************************************************** */
	/* Layout Classes */

.left {
    float: left;
}
.right {
    float: right;
}
.wrapper {
    padding: 1rem 2rem;
}
.block {
    display: block;
}
.upper-spacer {
    margin: 4rem 0 0;
}
.hidden {
    display: none;
}


/* ***************************************************** */
    /* Media Queries */


.container {
    width: 100%;
    @media #{$small-and-up} {
        width: 95%;
    }
    @media #{$medium-and-up} {
        width: 85%;
    }
    @media #{$large-and-up} {}
}



