//* I am styles written by Carlos Mendez for use in th contact-directory project *//

/* ***************************************************** */
	/* Layout Classes */

.container {
  padding: 0 $gutter-width;
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
}
.container .row {
  margin-left: (-1 * $gutter-width / 2);
  margin-right: (-1 * $gutter-width / 2);
}
.left {
    float: left;
}
.right {
    float: right;
}
.wrapper {
    padding: 1rem 2rem;
}
.block {
    display: block;
}
.upper-spacer {
    margin: 2rem 0 0;
}
.hidden {
    display: none;
}
.scrollable {
    // background-color: lightblue;
    height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}
tbody.shadow {
    padding: 0 2rem;
    border-radius: 0.25rem;
    box-shadow: inset 1px 1px 2px 2px #ccc;
}
td.sevenths {
    width: 12%;
}
div.sevenths {
    width: 12.5%
}

/* ***************************************************** */
    /* Media Queries */

@media #{$small-and-up} {
    // .container { 
    //     width: 98%;
    // }
}
@media #{$medium-and-up} {
  // .container {
  //   width: 98%;
  // }
}
@media #{$large-and-up} {
  .container {
    width: 98%;
  }
}