//* I am styles written by Carlos Mendez for use in th contact-directory project *//

/* Application of font families, styling */

html{
  line-height: 1.5;

  @media #{$small-and-up} {
    font-size: 1.25rem;
  }

  @media #{$medium-and-up} {
    font-size: 1.1rem;
  }

  @media #{$large-and-up} {
    font-size: 1rem;
  }

  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: $off-black;
}

body {
	font: 1.2rem/1.6rem "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", Sans-serif;
	-webkit-font-smoothing: antialiased;
}
h1 {
	font-size: 3rem;
	margin: 0.67rem 0;
	&.title {
// 		color: $primary-color;
		// width: 100%;
		// text-align: center;
	}
}
h2 {
// 	color: $primary-color;
	font-size: 2rem;
    margin: 0.83rem 0;
}
h3 {
	font-size: 1.5rem;
    margin: 1rem 0;
}
h4 {
	font-size: 1.25rem;
	margin: 1.33rem 0;
}
h5 {
	font-size: 1rem;
	margin: 1.67rem 0;
}
h6 {
	font-size: 0.75rem;
	margin: 2.33rem 0;
}
p {
// 	font: $serif;
    font-size: 1.25rem;
    line-height: 1.35rem;
    margin-bottom: .75rem;
  //   	&.photoTitle {
		// 	font: 1.25rem/0.83rem Offside, Arial, Helvetica, Sans-serif;
		//     color: white;
		//     padding: 0.75rem 0 0;
		// }
		// &.photoNotes {
		// 	font: 1rem/0.83rem "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", Sans-serif;
		//     color: white;
		//     padding: .5rem;
		// }
}
em {}
strong {}